body {
  font-family: "Open Sans", sans-serif;
}

.parallax {
  display: flex;
  height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #d2e9e3;
}

.column {
  padding: 0;
  margin-top: 10%;
  margin-bottom: 25%;
  padding-bottom: 25%;
  margin-left: 0;
  height: 100%;
  width: 100%;
}

.content {
  opacity: 0.5;
  margin-top: 5%;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.5em;
}

p {
  font-size: 0.8em;
}

.btn {
  border-color: #919191;
  color: #919191;
}

@media only screen and (min-width: 992px) {
  .parallax {
    height: 1000px;
    margin-bottom: 10%;
  }

  .column {
    padding: 0;
    margin-top: 8%;
    margin-bottom: 0;
    margin-left: 20%;
    height: 100%;
    width: 60%;
  }

  .content {
    margin-top: 0;
  }

  p {
    font-size: 1.2em;
  }
}
