body {
  font-family: "Open Sans", sans-serif;
}

.parallax {
    display: flex;
    min-height: 900px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #919191;
  }


.content {
  opacity: 0.5;
}

.column {
  flex: 33.33%;
  padding: 0;
  margin-top: 10%;
  margin-bottom: 10%;
  height: 100%;
  width: 100%;
}

.btn{
  border-color: #919191;
  color: #919191;
}

/*
@media only screen and (min-width: 992px) {
    .parallax {
        background-image: url('/img/facebook_cover_photo_2.png');
        min-height: 1033px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
*/
