body {
  font-family: "Open Sans", sans-serif;
}
.parallax {
	display: flex;
	background-color: #d2e9e3;
	max-height: 400px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.column{
	flex: 33.33%;
	padding: 0;
	margin-top: 10%;
	margin-bottom: 10%;
	height: 100px;
	width: 40px;
}

.col {
	text-align: left;
}
.row {
	opacity: 0.7;
}

.gold {
	color: #a38928;
	margin-left: 5%;
}

.bronze {
	color: #b06042;
}

h3{
	font-size: 1.3em;
	text-align: left;
}

ul{
	font-size: .8em;
}

.header-picture img{
	padding: 2%;
}



@media only screen and (min-width: 992px) {
  .parallax {
    min-height: 1000px;
  }

  .column {
    height: 90%;
    width: 80%;
	}
	
  h3 {
		margin: 50% 0 5% 0;
		font-size: 1.5em;
	}
	
	li{
		font-size: 1.2em;
	}

	.row{
		width: 140%;
		margin-left: -20%;
	}


	.col{
		width: 70%;
	}

	.gold{
		padding: 0 10% 0 0;
	}

	.silver{
		padding: 0 10% 0 10%;
	}

	.bronze{
		padding: 0 0 0 10%;
	}
/*	.bronze{
		margin-left: 40%;
	}

	.gold{
		margin-left: -10%;;
	}

	.silver{
		margin-left: 30%;
	}
*/
  .container {
    max-height: 500px;
	}
}
