body {
  font-family: "Open Sans", sans-serif;
}
.parallax {
	display: flex;
	background-color: #919191;
	max-height: 400px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.column{
	flex: 33.33%;
	padding: 0;
	margin-top: 10%;
	margin-bottom: 10%;
	height: 100px;
	width: 40px;
}

.col {
	text-align: left;
}
.row {
	margin-top: 5%;
	opacity: 0.7;
}

.gold {
	color: #a38928;
	margin-top: 20%;
	margin-left: 5%;
}

.silver{
	margin-top: 8%;
}

.bronze {
	color: #b06042;
}

h3{
	font-size: 1.3em;
	text-align: left;
}

ul{
	font-size: .8em;
}


@media only screen and (min-width: 992px) {
  .parallax {
    min-height: 900px;
  }

  .column {
    height: 90%;
    width: 90%;
  }

  h3 {
    margin: 50% 0 5% 0;
  }

	.bronze{
		margin-left: 20%;
	}

	.gold{
		margin-top: 0;
		margin-left: 0;
	}

	.silver{
		margin-left: 20%;
		margin-top: 0;
	}

  .container {
    max-height: 500px;
  }


}
