body {
  font-family: "Open Sans", sans-serif;
}

.slideshow {
  display: none;
}

.parallax {
  background-image: url("/img/EAT4.JPG");
  height: 300px;
  background-attachment: relative;
  background-position: 40% 0%;
  background-repeat: no-repeat;
  background-size: 100%;
}

.content {
  opacity: 0.5;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.5em;
}

h6 {
  font-size: 0.85em;
}

p {
  font-size: 0.8em;
}

.content {
  opacity: 0.5;
}

@media only screen and (min-width: 430px) {
  .content {
    margin-top: 5%;
  }
}

@media only screen and (min-width: 650px) {
    .parallax{
        height: 400px;
    }
}

@media only screen and (min-width: 992px) {
  .slideshow {
    list-style-type: none;
    display: block;
  }

  .parallax {
    display: none;
  }

  /** SLIDESHOW **/
  .slideshow,
  .slideshow:after {
    position: relative;
    width: 100%;
    left: 0px;
    z-index: 0;
    top: 50px;
    height: 1000px;
  }

  .slideshow li span {
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 24s linear infinite 0s;
    height: 1000px;
  }

  .slideshow li:nth-child(1) span {
    background-image: url("/img/EAT1.JPG");
  }

  .slideshow li:nth-child(2) span {
    background-image: url("/img/EAT2.JPG");
    animation-delay: 6s;
  }

  .slideshow li:nth-child(3) span {
    background-image: url("/img/EAT3.JPG");
    animation-delay: 12s;
  }

  .slideshow li:nth-child(4) span {
    background-image: url("/img/EAT4.JPG");
    animation-delay: 18s;
  }

  @keyframes imageAnimation {
    0% {
      opacity: 0;
      animation-timing-function: ease-in;
    }
    8% {
      opacity: 1;
      animation-timing-function: ease-out;
    }
    25% {
      opacity: 1;
    }
    30% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes titleAnimation {
    0% {
      opacity: 0;
    }
    8% {
      opacity: 1;
    }
    25% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .no-cssanimations .cb-slideshow li span {
    opacity: 1;
  }

  p {
    font-size: 1.2em;
  }

  h3 {
    font-size: 1.5em;
  }
}
