body {
    font-family: 'Open Sans', sans-serif;
}

.parallax {
    background-image: url('/img/NEW.jpg');
    min-height: 550px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    opacity: .5;
    margin-top: 10%;
    
}

.form-group{
    min-width: 500px;
    margin-left: 63%;
}

.btn {
    margin-top: 2em;
}

@media only screen and (min-width: 992px) {
    .parallax {
        background-image: url('/img/NEW.jpg');
        min-height: 1033px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: -10rem;
    }

}