body {
    font-family: 'Open Sans', sans-serif;
}

.parallax {
    background-image: url('/img/NEW.jpg');
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    opacity: .5;
    margin-top: 10%;
}

.form-group{
    margin-left: 5%;
}

input{
    min-width: 300px;
}

.btn{
    margin-top: 10%;
}



@media only screen and (min-width: 992px) {
    .parallax {
        min-height: 1033px;
        margin-bottom: -10rem;
    }

    .form-group{
        min-width: 500px;
        margin-left: 63%;
    }
    
    .btn {
        margin-top: 2em;
    }

    label{
        font-size: 1.2em;
    }
}