body{
  font-family: 'Open Sans', sans-serif;
}

.parallax {
  background-image: url('/img/TRAINING2.jpg');
  height: 300px;
  background-attachment: relative;
  background-position: 40% 0%;
  background-repeat: no-repeat;
  background-size: 100%;
}

.content {
  opacity: 0.5;
  margin-top: 10%;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.5em;
}

p {
  font-size: 0.8em;
}

#video{
  margin-top: 5%;
  margin-left: 10%;
}

video{
  width: 90%;
}

.title{
  opacity: .4;
  font-size: .8em;
}

@media only screen and (min-width: 992px){
  .parallax{
    background-image: url('/img/TRAINING2.jpg');
    min-height: 1033px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: -10rem;
  }

  #video{
    margin-left: 35%;
    margin-top: -12%;
   }
   
   video{
     width: 50%;
   }

   p{
     font-size: 1.2em;
   }

}